.NullImage{
    width:185px;
    height: 274px;
    background-color: #c0bebe;
    color: #424246;
    justify-content: center;
    align-content: center;
    text-align: center;
    text-decoration: none;
}
